[Unit]
Description=Seobuline Next.js App
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/seobuline
Environment=NODE_ENV=development
ExecStart=/usr/bin/npm run dev
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
